# Copyright 2026 上海如静知华信息科技有限公司 · https://www.zhuatech.cn/
ZHUATECH_IMAGE_GEN_PROVIDER=local
ZHUATECH_IMAGE_GEN_BASE_URL=
ZHUATECH_IMAGE_GEN_MODEL=text-to-image-provider-model
ZHUATECH_IMAGE_GEN_API_KEY=
